{% extends 'base.html' %}
{% block body_block %}
{% load static %}

    <div class="container">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Books</h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">Buy Books</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <table id="family_table" class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>ISBN-13</th>
            <th>Author</th>
            <th>Publication Date</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        {% for book in book_list %}
            <tr>
                <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.isbn }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.publicationDate }}</td>
                <td>{{ book.publisher }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    </div>



{% endblock %}

