{% extends 'base.html' %}
{% load static %}
{% load frontend_extras %}
{% block body_block %}

{#<script>#}
{#    var json = '{{text}}';#}
{#    if(json == 'Success'){#}
{#        document.getElementById("message").innerHTML =#}
{#                "<div class='alert alert-success'> <strong>Success!</strong></div>";#}
{#    } else{#}
{#        document.getElementById("message").innerHTML =#}
{#                "<div class='alert alert-danger'> <strong></strong></div>";#}
{#    }#}
{#</script>#}
<div class="container">
    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Buy a Book!</h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li class="active">Buy</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    <body>
        <div class="col-lg-12 well">
            <h2>What Book Are you Looking For?</h2>
            <form method="post">{% csrf_token %}
                {% for field in form %}
                <div class="form-group col-xs-6">
                    {{ field.errors }}
                    <label>{{ field.label }}:</label>
                    <div>
                        {{ field|CSS:'form-control' }}
                    </div>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-info"/>
            </form>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="alert alert-info">
                <strong>{{ text }}</strong>
            </div>
            <div> <p> {{ data }}</p></div>
        </div>
    </body>
</div>



{% endblock %}
