{% extends 'base.html' %}
{% block body_block %}
{% load static %}
<section xmlns="http://www.w3.org/1999/html">
            <!-- *** HOMEPAGE CAROUSEL ***
 _________________________________________________________ -->

            <div class="home-carousel">

                <div class="dark-mask"></div>

                <div class="container">
                    <div class="homepage owl-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-8 right">
                                    <h1><a href="{% url 'book_list' %}"><font color="orange">Buy</font></a>|<a href="javascript: void(0)"><font color="orange">Rent</font></a>|<a href="javascript: void(0)"><font color="orange">Sell</font></a> <em>Textbooks</em></h1>
                                    <p>User to user = no hassle!
                                        <br />Easy to use and convenient!
                                        <br />It's as good as having an entire library in your bed!
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <img class="img-responsive" src="{% static 'img/library-bed.jpg' %}" style="width: 350px; height:400px" alt="">
                                </div>
                            </div>
                        </div>




                        <!--
                        <div class="item">
                            <div class="row">

                                <div class="col-sm-7 text-center">
                                    <img class="img-responsive" src="img/template-mac.png" alt="">
                                </div>

                                <div class="col-sm-5">
                                    <h2>46 HTML pages full of features</h2>
                                    <ul class="list-style-none">
                                        <li>Sliders and carousels</li>
                                        <li>4 Header variations</li>
                                        <li>Google maps, Forms, Megamenu, CSS3 Animations and much more</li>
                                        <li>+ 11 extra pages showing template features</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-5 right">
                                    <h1>Design</h1>
                                    <ul class="list-style-none">
                                        <li>Clean and elegant design</li>
                                        <li>Full width and boxed mode</li>
                                        <li>Easily readable Roboto font and awesome icons</li>
                                        <li>7 preprepared colour variations</li>
                                    </ul>
                                </div>
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="img/template-easy-customize.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-7">
                                    <img class="img-responsive" src="img/template-easy-code.png" alt="">
                                </div>
                                <div class="col-sm-5">
                                    <h1>Easy to customize</h1>
                                    <ul class="list-style-none">
                                        <li>7 preprepared colour variations.</li>
                                        <li>Easily to change fonts</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- /.project owl-slider -->
                </div>
            </div>

            <!-- *** HOMEPAGE CAROUSEL END *** -->
        </section>

        <div class="container">
                    <h1>Popular Posts</h1>
                    <table id="post_table" class="table table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Post Title </th>
                                <th>Textbook</th>
                                <th>Condition</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Sold</th>
                                <th>Times Viewed</th>
                                <th>Post Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in postings_list %}
                                {% for book in book_list %}
                                    {% if post.textbook_id == book.id %}
                                        <tr>
                                            <td>{{ post.postTitle }}</td>
                                            <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                                            <td>{{ post.condition }}</td>
                                            <td>{{ post.price }}</td>
                                            <td>{{ post.category }}</td>
                                            <td>{{ post.sold }}
                                            <td>{{ post.viewCount }}</td>
                                            <td>{{ post.postDate }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                    <br/>
                    <h1> Recent Posts </h1>
                        <table id="recent_table" class="table table-striped tablesorter">
                        <thead>
                            <tr>
                                <th>Post Title</th>
                                <th>Textbook</th>
                                <th>Condition</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Sold</th>
                                <th>Times Viewed</th>
                                <th>Post Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in recentposts %}
                                {% for book in book_list %}
                                    {% if post.textbook_id == book.id %}
                                        <tr>
                                            <td>{{ post.postTitle }}</td>
                                            <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                                            <td>{{ post.condition }}</td>
                                            <td>{{ post.price }}</td>
                                            <td>{{ post.category }}</td>
                                            <td>{{ post.sold }}
                                            <td>{{ post.viewCount }}</td>
                                            <td>{{ post.postDate }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

        <section class="bar background-white">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading text-center">
                        <h2>Start Shopping!</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="javascript: void(0)" title="Rent"> <i class="fa fa-handshake-o"></i></a>
                                </div>
                                <a href=javascript: void(0)"><h3>Rent</h3></a>
                                <p>Any book, for as long as you need.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="{% url 'book_list' %}" title="Buy"> <i class="fa fa-book"></i></a>
                                </div>
                                <a href="{% url 'book_list' %}"><h3>Buy</h3></a>
                                <p>A wide variety to select your very own book.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-simple">
                                <div class="icon">
                                    <a href="javascript: void(0)" title="Buy"> <i class="fa fa-dollar"></i></a>
                                </div>
                                <a href=javascript: void(0)"><h3>Sell</h3></a>
                                <p>Make some extra cash and sell that book you don't read anymore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
