{% extends 'base.html' %}
{% block body_block %}
{% load static %}

    <div class="container">
         <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>{{listing.postTitle}}</h1>
                    </div>
                    <div class="col-md-4">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'listing' %}">Listings</a></li>
                            <li class="active">Listing Details</li>
                        </ul>

                    </div>
                </div>
            </div>
            </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="{% static 'img/genericTextbook.png' %}" style="width: 350px; height:400px" alt="">
        </div>
        <div class="col-sm-8 right">
                                    <h3>Textbook Details: </h3>
                                    <p style="margin-left: 40px; font-size: 22px;" >
                                        <strong> Title: {{ textbook.title }} </strong> <br/>
                                        <strong> Author: {{ textbook.author }} </strong> <br/>
                                        <strong> ISBN: {{ textbook.isbn }}</strong> <br/>
                                        <strong> Condition: {{ listing.condition }}</strong>
                                    </p>
                                    <h3>Price: {{listing.price}}</h3>
                                    <h3>Sold: {{listing.sold}}</h3>
                                    <h3>Date Posted: {{listing.postDate}}</h3>
                                    <h3>Details: {{listing.details}}</h3>
                                    <h3>Type: {{ listing.type }}</h3>
        </div>



    </div>
    <div class="container">
    </br></br>
        {% if recommendations %}
        <h3>Users who looked at this post also looked at these posts</h3>
        <table id="post_table" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>Post Title </th>
                    <th>Textbook</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Sold</th>
                    <th>Times Viewed</th>
                    <th>Post Date</th>
                </tr>
            </thead>
            <tbody>
                {% for post in recommendations %}
                    {% for book in book_list %}
                        {% if post.textbook_id == book.id %}
                            <tr>
                                <td>{{ post.postTitle }}</td>
                                <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                                <td>{{ post.condition }}</td>
                                <td>{{ post.price }}</td>
                                <td>{{ post.category }}</td>
                                <td>{{ post.sold }}
                                <td>{{ post.viewCount }}</td>
                                <td>{{ post.postDate }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <br/>
        <h1> Recent Posts </h1>
            <table id="recent_table" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th>Post Title</th>
                    <th>Textbook</th>
                    <th>Condition</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Sold</th>
                    <th>Times Viewed</th>
                    <th>Post Date</th>
                </tr>
            </thead>
            <tbody>
                {% for post in recentposts %}
                    {% for book in book_list %}
                        {% if post.textbook_id == book.id %}
                            <tr>
                                <td>{{ post.postTitle }}</td>
                                <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                                <td>{{ post.condition }}</td>
                                <td>{{ post.price }}</td>
                                <td>{{ post.category }}</td>
                                <td>{{ post.sold }}
                                <td>{{ post.viewCount }}</td>
                                <td>{{ post.postDate }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h3> There are no recommended posts for this listing</h3>
        {% endif %}
    </div>

{% endblock %}
