{% extends 'base.html' %}
{% load static %}
{% load frontend_extras %}
{% block body_block %}
<head>
    <meta charset="UTF-8">
    <title>Login Here</title>
</head>
<body>
    <div class="col-lg-12 well">
        <div style="width:400px; margin:0 auto;">
            <h2>Login</h2>
            <form method="post">{% csrf_token %}
                    <div class="well">
                        {% for field in form %}
                            <div class="form-group col-xs-12">
                                {{ field.errors }}
                                <label>{{ field.label }}:</label>
                                <div>
                                    {{ field|CSS:'form-control' }}
                                </div>
                            </div>
                        {% endfor %}
                        <input type="submit" value="Submit" class="btn btn-info"/>
                    </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}

