{% extends 'base.html' %}
{% load static %}
{% load frontend_extras %}
{% block body_block %}
<head>
    <meta charset="UTF-8">
    <title>Register as a New User</title>
</head>
<body>
    <div class="container">
    <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Register</h1>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:400px; margin:0 auto;">
            <h2>Create New Account:</h2>
            <form method="post">{% csrf_token %}
                    <div class="well">
                        {% for field in form %}
                            <div class="form-group col-xs-12">
                                {{ field.errors }}
                                <label>{{ field.label }}:</label>
                                <div>
                                    {{ field|CSS:'form-control' }}
                                </div>
                            </div>
                        {% endfor %}
                        <a href="{% url 'login' %}"><center>Already Have an Account?</center></a>
                        <br>
                        <center><input type="submit" value="Submit" class="btn btn-info"/></center>
                    </div>
            </form>
        </div>
<div>
    <p>{{text}}</p>
</div>
    </div>

</body>
{% endblock %}
