{% extends 'base.html' %}
{% load static %}
{% load frontend_extras %}
{% block body_block %}
<div class="container">
    <ol class="breadcrumb" >
                <li><a href="{% url 'index' %}">Home</a></li>
                <li class="active">Sell</li>
    </ol>
    <h1>Post Your Book!</h1>
    <body>
        <form method="post"> {% csrf_token %}
            <div class = "well">
                {% for field in form %}
                    <div class="form-group col-sm-6">
                        {{ field.errors }}
                        <label>{{ field.label }}:</label>
                        <div>
                            {{ field|CSS:'form-control' }}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="Submit" class="'btn btn-info"/>
            </div>
        </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="alert alert-info">
          <strong>{{ text }}</strong>
        </div>
        <div> <p> {{ data }}</p></div>
    </body>
</div>
{% endblock %}
