<h1>This stuff is pretty finished</h1>
</br>
<form action="/postTextbook/" method="POST">
	{% csrf_token %}
    {{ form.as_ul }}
	<input type="submit" Value="Save">
</form>
</br>
<table>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>author</th>
        <th>Publication Date</th>
        <th>Publisher</th>
        <th>ID</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.title }}</td>
        <td>{{ item.isbn }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.publicationDate }}</td>
        <td>{{ item.publisher }}</td>
        <td>{{ item.id }}</td>
    </tr>
    {% endfor %}
</table>
